<div class="top-banner multi-gainer">
  <img src="../assets/images/about.png" class="img-fluid" width="100%" />
  <div class="headtext">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Add Equity Values for Calulation</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<section class="multi-gainer-search   Contact_us">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--<span>
          <label style="display:inline;font-weight:bold"> {{valueofcalculation}}</label>
        </span>-->
        <!--<span>
          <label style="display:inline;float:right;">{{mstsndmsts}}</label>
        </span>-->
        <input id="mst" type="hidden" name="mst" [(ngModel)]="equitydata.MST" #mst="ngModel">
        <input id="msts" type="hidden" name="msts" [(ngModel)]="equitydata.MSTS" #msts="ngModel">

      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Exchange</label>
          <select class="form-control form-select-lg" [(ngModel)]="equitydata.exchange" (ngModelChange)="onExchangeChange()">
            <option value="" disabled selected>Select Exchange</option>
            <option value="NSE">NSE</option>
            <option value="BSE">BSE</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Type</label>
          <select class="form-control form-select-lg" [(ngModel)]="equitydata.type" (ngModelChange)="onTypeOptionUpdate()">
            <option value="" disabled selected>Select Type</option>
            <option value="EQ" selected="selected">EQ</option>
            <option value="DERIVATIVE">DERIVATIVE</option>
          </select>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="form-group">
          <label>Date</label>
          <input type="date" [(ngModel)]="equitydata.StartDate" class="form-control form-control-lg" [max]="currentDate" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <mat-form-field class="mt-3">
            <input type="text" placeholder="Symbol" matInput [matAutocomplete]="auto" [formControl]="searchControl" [(ngModel)]="equitydata.Symbol" (click)="fetchOptions()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
              <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngIf="derivativeoption">
        <div class="form-group">
          <label>Instrument</label>
          <select class="form-control form-select-lg" [(ngModel)]="equitydata.instrument" (ngModelChange)="onInstrumentOptionUpdate()">
            <option value="" disabled selected>Select Instrument</option>
            <option value="FUTIDX">FUTIDX</option>
            <option value="FUTIVX">FUTIVX</option>
            <option value="FUTSTK">FUTSTK</option>
            <option value="OPTIDX">OPTIDX</option>
            <option value="OPTSTK">OPTSTK</option>
          </select>
        </div>
      </div>
      <div class="col-md-2" *ngIf="optidxstxoption">
        <div class="form-group">
          <label>Option Type</label>
          <select class="form-control form-select-lg" [(ngModel)]="equitydata.optionType">
            <option value="XX" selected="selected">XX</option>
            <option value="CE">CE</option>
            <option value="PE">PE</option>
          </select> 
        </div>
      </div>
      <div class="col-md-2" *ngIf="optidxstxoption">
        <div class="form-group">
          <label>Expiry</label>
          <select class="form-control form-select-lg" [(ngModel)]="equitydata.ExpiryDate">
            <option value="" disabled selected>Select Expiry</option>
            <option *ngFor="let option of expiry" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<section class="multi-gainer-Calculate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bg">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input disabled type="text" class="form-control" [(ngModel)]="equitydata.Close" id="close" name="close" #close="ngModel">
                </h2>
                <span title="Previous Day Close">Close</span>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input type="number" class="form-control" id="average" name="average" [(ngModel)]="equitydata.Average" #average="ngModel">
                </h2>
                <span data-toggle="tooltip" title="Average trade price or ATP">Average</span>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input type="number" class="form-control" id="High" name="High" [(ngModel)]="equitydata.High" #High="ngModel">
                </h2>
                <span data-toggle="tooltip" title="Intra Day High">IDH</span>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input type="number" class="form-control" id="open" name="open" [(ngModel)]="equitydata.Open" #open="ngModel">
                </h2>
                <span data-toggle="tooltip" title="Day open">Open</span>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input type="number" class="form-control" id="Low" name="Low" [(ngModel)]="equitydata.Low" #Low="ngModel">
                </h2>
                <span data-toggle="tooltip" title="Intra Day Low">IDL</span>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6 col-6">
              <div class="box">
                <h2>
                  <input type="number" class="form-control" id="Cmp" name="Cmp" [(ngModel)]="equitydata.Cmp" #Cmp="ngModel">
                </h2>
                <span data-toggle="tooltip" title="Current Market Price">CMP</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button class="btn btn-lg btn-success mb-2">Download <i class=""></i></button>
              <!--<button class="btn Calculate" (click)="ngCalculateEquity()" data-toggle="modal">Calculate Now</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
