/* You can add global styles to this file, and also import other style files */

    .top-banner {
      position: relative;
    }

    .top-banner .headtext {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 48px;
      display: block;
      margin: auto;
    }

    .top-banner .headtext h1 {
      color: #fff;
      margin: 0;
    }

    .multi-gainer-Calculate .bg {
      background: #6E7984;
      padding: 0 20px;
    }

  .multi-gainer-Calculate .bg .box {
    background: #fff;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 4px;
  }

    .multi-gainer-Calculate .bg .box h2 {
      color: #003976;
      font-size: 22px;
      margin: 0px;
      padding: 0px;
      line-height: 25px;
    }

    .multi-gainer-Calculate .bg .box span {
      color: #6E7984;
      font-size: 14px;
    }

    .multi-gainer-Calculate .Calculate {
      background: #003976;
      color: #fff;
      border: 0px;
      margin: 25px auto;
      display: block;
      font-size: 16px;
      padding: 10px 25px;
    }

    .multi-gainer-Calculate .Calculate:hover, .multi-gainer-Calculate .Calculate:focus {
      background: #FF7600;
      box-shadow: none;
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
